* { 
  margin: 0; 
  padding: 0; 
}

body {
	font: 16px Arial, sans-serif;
  background-color: #ccc7c7;
}

.form {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #000;
}

.title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 24px;
}

.ol {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 48px 0 0 100px;
}

.ol__item {
  margin-bottom: 16px;
  text-align: left;
}

.ol__item--top {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: bold;
}

.ol__item--ans {
  font-size: 15px;
  display: block;
}

.ol__item--ans input {
  display: none;
}

.ol__item--ans span {
  position: relative;
  padding-left: 27px;
  padding-bottom: 5px;
  display: inline-block;
  font-weight: normal;
}

.ol__item--ans span:before {
  content: '';
  position: absolute;
  left: 0;
  width: 19px;
  height: 18px;
  box-sizing: border-box;
  border: 2px solid #333;
  background: #c9e4f9;
}

.ol__item--ans input:checked + span:before {
  background: red;
}

.check_btn {
  display: block;
  margin: 0 auto;
  margin-top: 52px;
  width: 330px;
  height: 55px;
  border: 3px solid #000205;
  background: #c9e4f9;
  font-size: 18px;
  cursor: pointer;
}

.check_btn:hover {
  background: #fff;
  color: red;
}